*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:sans-serif;
}

.wrapper{
    display:flex;
    align-items:center;
    height:100vh;
}

.test-sheet-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: blanchedalmond;
    width:80%;
    padding:1rem;
    margin:0 auto;
    height:70%;
    border-radius:5px;
}

.type-input-books{
    border:none;
    background:#f2f2f2;
    border-radius:3px;
    outline:none;
    padding:.5rem;
}

/* input field */

.input-field{
    position:relative;
    margin:20px;
}

.input-field .placeholder{
    position:absolute;
    left:12px;
    top:calc(50%);
    transform:translatey(-50%);
    color:gray;
    transition:
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.input-field input:focus + .placeholder{
    top:-10px;
    font-size:10px;
    color:#222;
}

.book-language-section{
    display:flex;
}
.book-language-section h2{
    margin-right:50px;
}

.book-language-section button{
    margin:0 10px;
    padding:5px 10px;
    border-radius:3px;
    border:none;
    outline:none;
    background-color:rgb(250, 178, 97);
}

.header1{
    font-size:15px;
}

.text-decoration{
    font-size:12px;
    line-height:20px;
    text-transform:capitalize;
}

.language-button:hover {
background:rgb(136, 86, 12);
}


@media (max-width:720px){
    .book-language-section{
        flex-direction:column;
    }

    .book-language-section button{
        margin:5px;
    }
}